/*
  background-color: rgb(168, 134, 134);
  font-family: Cambria, Cochin, Georgia, Times,"Times New Roman",serif}*/
.intro {
  color: rgb(193, 99, 99);
}
body {
  background-color: rgb(18, 49, 38);
}
